
/*** Ben & Victoria moved these selectors to m-header.css

- HEADER -

.page-heading {
  text-align: center;
  font-size: 1.4em;
  text-transform: uppercase;
}**/

/*** Ben & Victoria moved these selectors to l-main.css

- MAIN -

.main-wrapper {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}**/

/*** Ben & Victoria moved these selectors to m-contact.css

- MAIN FORM -

.contact-form--btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.contact-form--comment {
  display: block;
  margin-left: auto;
  margin-right: auto;
}***/


/*** Ben & Victoria moved these selectors to m-github.css

- MAIN SECTION -

.github-image {
  width: 10%;
  border-radius: 50%;
}***/











