

a:hover {
  color: #93315a;
}


/*  GRIDS   ============================================================================= */



.col_3_of_3 {
  width: 100%;
}

.col_1_of_3 {
  width: 25.25%;
}

.col_4_of_4 {
  width: 100%;
}

.col_1_of_4 {
  width: 21%;
}

