/* MODULES */
article {
  /*Styling that applies to ALL articles regardless of size*/
  border:.2em solid grey;
}

.article__main {
  margin: 1em;
  padding: .5em;
}

/* Defined width/height of article__sub to serve as a place holder */

.article__sub {
  margin: 1%;
}

.has-accent {
  border: 1px dashed pink;
}

.profile-pic {
  display: block;
  width: 75%;
  margin: 1em auto;
}



