/* MODULES */
article {
  /*Styling that applies to ALL articles regardless of size*/
  border:2px solid grey;
}

.article__main {
  margin: 1em;
  padding: .5em;
}

/* Defined width/height of article__sub is to serve as a place holder */

.article__sub {
  margin: 1%;
}

.has-accent {
  border: 1px dashed pink;
}




