/* ==========================================================================
HTML5 display definitions
========================================================================== */
footer, header, main, nav {
  display: block;
}

/* ==========================================================================
Base
========================================================================== */
html {
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
}

/* Remove default margin.*/
body {
  margin: 0;
}

/* ==========================================================================
Typography
========================================================================== */

/*=Fonts=*/

/*Aller*/

@font-face {
  font-family: 'Aller';
  src: url('fonts/Aller/Aller_Rg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aller';
  src: url('fonts/Aller/Aller_Bd.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/*artifika*/

@font-face {
  font-family: 'artifika';
  src: url('fonts/artifika/Artifika-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: 'artifika', serif;
  font-size: 2em;
  margin: 0.67em 0;
}

html {
  font-family:'Aller', sans-serif;
}

/* ==========================================================================
Colors
========================================================================== */

a:link {
  color: #999900;
}

h1 {
  color: #B80000;
}

p {
  color: #66CC00;
}

/* ==========================================================================
Lists
========================================================================== */

ul {
  list-style: none;
}
