/*==========================================================================
Grid System
==========================================================================*/

/*
Width: 1000px
# Columns : 12
Column width: 65px
Gutter : 20px
*/

.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10,
.grid_11, .grid_12 {
  width: 100%;
  margin: 0 2% 1% 0;
  float: left;
  display: block;
}

.alpha {
  margin-left: 0px;
}

.omega {
  margin-right: 0px;
}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
  content :' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}

html .clearfix, *:first-child+html .clearfix {
  zoom:1
}

/*Main Wrapper*/
.main-wrapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

