.m-footer {
  font-size: 1em;
  border: 3em;
  padding: 0.5em 0 0 1em;
  border-radius: 1em;
  background-color: #B80000;
  background-image: url(seattle.jpg);
  background-blend-mode: multiply;
  background-size: 100%;
  background-position: center;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: flex-end;
}

.m-footer-image {
  padding: 1em;
  width: 5em;
}

.m-footer-location {
  font-family: 'Aller', sans-serif;
  color:#FFF;
  display: inline-block;
  padding-left: 0;
  text-align:left;
}
