/* HEADER STYLES*/
.page-heading {
  text-align: center;
  font-size: 1.4em;
  padding-top: 0.5em;
  text-transform: uppercase;
}

/* NAV STYLES*/
.m-nav {
  text-transform: uppercase;
  padding-top: 1em;
  line-height: 1.5em;
  text-align: center;
}

.m-navigation-list--link {
  text-decoration: none;
}

.m-navigation-list--item {
  font-family: 'Aller', sans-serif;
  display: inline;
  padding: 0.5em;
  font-size: 1em;
}
