/*MEDIA QUERIES FOR RESPONSIVE LAYOUT*/
@media (min-width: 768px) {
  /*.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10; .grid_11, .grid_12 {
    width: 100%;
  }*/
  .grid_1 {width: 6.5%;}  /*65px*/
  .grid_2 {width: 15%;}   /*150px*/
  .grid_3 {width: 23.5%;} /*235px*/
  .grid_4 {width: 32%;}   /*320px*/
  .grid_5 {width: 40.5%;} /*405px*/
  .grid_6 {width: 49%;}   /*490px*/
  .grid_7 {width: 57.5%;} /*575px*/
  .grid_8 {width: 66%;}   /*660px*/
  .grid_9 {width: 74.5%;} /*745px*/
  .grid_10 {width: 83%;}  /*830px*/
  .grid_11 {width: 91.5%;}/*915px*/
  .grid_12 {width: 100%;} /*1000px*/

  .page-heading {
    text-align: left;
  }

  .m-navigation-list--item {
    padding:2em;
  }

}
