/*MEDIA QUERIES FOR RESPONSIVE LAYOUT*/
@media (min-width: 48em) {

  .grid_1 {width: 6.5%;}
  .grid_2 {width: 15%;}
  .grid_3 {width: 23.5%;}
  .grid_4 {width: 32%;}
  .grid_5 {width: 40.5%;}
  .grid_6 {width: 49%;}
  .grid_7 {width: 57.5%;}
  .grid_8 {width: 66%;}
  .grid_9 {width: 74.5%;}
  .grid_10 {width: 83%;}
  .grid_11 {width: 91.5%;}
  .grid_12 {width: 100%;}

  .page-heading {
    text-align: left;
  }

  .m-navigation-list--item {
    padding:2em;
  }

}
